@import "colors";
@import "mixins";

* {
    @include proxima();
}
h1, h2, h3, h4, h5, h6 {
    @include proxima-thin();
    color: $green;
}
h1 {
    @include proxima-thin();
    font-size: 3em;
}
h2 {
    @include proxima-thin();
    color: $dark-gray;
    font-size: 2em;
}
label {
    display: block;
    text-align: left;
    font-size: .8em;
    color: $dark-gray;
}
.naked_link {
    @include naked_link()
}
.spa-wrapper {
    position: relative;
    body {
        margin: 0;
        padding: 0;
        position: relative;
        z-index: 1;
    }
}
.main_content {
    min-height: 300px;
    padding-top: 36px;
    z-index: 2;
}
.fullframe {
    width: 100%;
}
.mainframe {
    width: 80%;
    margin: 0 auto;
}
form {
    .row {
        margin-bottom: 1.5em !important;
    }
}
.intro-text {
    width: 60%;
    margin: 0 auto;
    font-size: 1.75em;
}
.tiny-text {
    font-size: 0.5em;
    margin-top: 0;
}
.mini-text {
    font-size: 0.5em;
    color: $dark-gray;
}
#sidebar {
    margin: -50px 0 0 0;
    padding: 0;
    height: 800px;
    width: 200px;
    background-color: $light-gray;

    -webkit-box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.75);
    z-index: -1;
    float: left;


}
#mainarea {
    float: left;
    width: 940px;
}
.help__button {
    outline: none;

    button {
        &:active, &:visited, &:focus {
            outline: none !important;
        }
    }
}
