@import "colors";
@import "mixins";
@import "buttons";

.login-submit-area, .register-submit-area {
    display: flex;

    > div {
        width: 50%;
        flex: 1;

        > p {
            text-align: right;
        }
    }
}