@import "colors";
@import "mixins";
@import "buttons";

.header {
    height: 140px;
    min-height: 140px;
    background-color: $white;
    padding: 20px;
}

.crumb-trail {
    height: 16px;
    min-height: 16px;
    background-color: $dark-gray;
}