@import "colors";

@mixin proxima() {
    font-family: "proxima-nova", sans-serif;
    font-style: normal;
    font-weight: 400;
}
@mixin proxima-thin() {
    font-family: "proxima-nova-condensed", sans-serif;
    font-style: normal;
    font-weight: 100;
}
@mixin naked_link() {
    color: inherit;
    font-weight: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &:visited, &:active {
        color: inherit;
        text-decoration: none;
    }
}
@mixin linx ($link, $visit, $hover, $active) {
    a {
        color: $link;
        &:visited {
            color: $visit;
        }
        &:hover {
            color: $hover;
        }
        &:active {
            color: $active;
        }
    }
}
@mixin border-radius ( $value: 3px ) {
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
    border-radius: $value;
    // keeps background from busting out of border
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.wf-loading {
    visibility: hidden;
}
.wf-active, .wf-inactive {
    visibility: visible;
}