@import "colors";
@import "mixins";
@import "buttons";

.fa {
    margin-right: 3px;
}

.new-project-step-blocks-container {
    height: 40px;
    width: 60%;
    margin: 0 auto !important;
    display: flex;
    align-items: center;
    justify-content: center;

    > a {
        height: 40px;
        color: $white;
        border: 1px solid $light-gray;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        &.inactive {
            color: $gray;
            background-color: $light-gray;
        }

        &.active {
            background-color: $green;
        }

        &:hover {
            background-color: $dark-gray;
        }
    }
}