@import "colors";
@import "mixins";
@import "buttons";

.sidebar-company-cell {
    height:140px;
    margin: -10px 0 0 0;
    background-color: $green;

    h3 {
        color: $dark-gray;
    }
}

.panel-group {
    .panel {
        .panel-heading {
            .panel-title > a {
                text-decoration: none;

                &:hover, &:active, &:focus {
                    text-decoration: none;
                    border: none;
                    outline: none;
                }
            }
        }
    }
}
.sidebar-submenu-container {
    list-style: none;

    &:last-child {
        margin-bottom: 0;
    }

    a {
        text-decoration: none;

        &:hover, &:active {
            text-decoration: none;
        }
    }

    li.sidebar-submenu {
        list-style: none;
        height: 1.8em;
        margin-left: -20px;
        font-size: 0.9em;
        color: $dark-gray;

        &:hover {
            background-color: $light-gray;
        }
    }
}