@import "colors";
@import "mixins";
@import "buttons";

#userbar {

    .userbar-container {
        position: relative;
        width: 100%;
        height: 63px;
        background-color: $dark-gray;
        margin: 0 0 20px 0;
        z-index: 1;

        -webkit-box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.75);
        box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.75);

        .user__block {
            margin-top: -54px;

            button {
                img {
                    border-radius: 50%;
                    background-clip: padding-box;
                    float: left;
                    height: 35px;
                    margin-right: 5px;
                    width: 35px;
                    border: 2px solid #fff;
                }
            }
        }
    }

    .iconTasks {
        color: $light-gray;
    }

    .special {
        position: absolute;
        left: 50%;
        width: 600px;
        margin: -43px 0 0 -300px;
        text-align: center;
        font-size: 1.4em;

        .primary { color: $white; }
        .secondary {color: $gray; }
    }
}

span.count {
    background: none repeat scroll 0 0 #e84e40;
    border-radius: 50%;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    color: #fff;
    display: block;
    font-size: 9px;
    height: 14px;
    line-height: 14px;
    //position: absolute;
    //right: 10px;
    text-align: center;
    //top: 11px;
    width: 14px;
}
