<span class="help__button">
        <button popover-placement="right"
                uib-popover="{{msg}}"
                popover-trigger="focus"
                type="button" class="btn btn-link">
            <i class="fa fa-2x fa-question-circle" style="display: inline; color: #8dc63f;"></i>
        </button>
    </span>