<div ng-controller="SidebarController as sb">
    <script type="text/ng-template" id="group-template.html">
        <div class="panel {{panelClass || 'panel-default'}}">
            <div class="panel-heading">
                <h4 class="panel-title" style="color:#fa39c3">
                    <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading"><span
                        ng-class="{'text-muted': isDisabled}">{{heading}}</span></a>
                </h4>
            </div>
            <div class="panel-collapse collapse" uib-collapse="!isOpen">
                <div class="panel-body" style="text-align: right" ng-transclude></div>
            </div>
        </div>
    </script>
    <div class="sidebar-company-cell">
        <br>
        <h3 class="text-center">SellerCo</h3>
        <p class="text-center">
            <img src="./images/coLogo.png" style="width:120px; height: auto;">
        </p>
    </div>

    <uib-accordion>
        <uib-accordion-group is-open="false" is-disabled="sb.status.isFirstDisabled">
            <uib-accordion-heading>
                <i class="fa fa-dashboard"></i>&nbsp;
                <a ui-sref="eco.home" class="darkGray naked_link">
                    DASHBOARD
                </a>
            </uib-accordion-heading>
        </uib-accordion-group>
        <uib-accordion-group>
            <uib-accordion-heading>
                <i class="fa fa-plane"></i>&nbsp;
                SELLER
                <i class="fa fa-lg pull-right" ng-class="{'fa-caret-left': !status.open, 'fa-caret-down': status.open}"></i>
            </uib-accordion-heading>
            <ul class="sidebar-submenu-container">
                <li class="sidebar-submenu">
                    <i class="fa fa-plus"></i>&nbsp;
                    <a ui-sref="eco.project.new" class="naked_link">
                        New Project
                    </a>
                </li>
                <li class="sidebar-submenu">
                    <i class="fa fa-pencil"></i>&nbsp;
                    <a ui-sref="eco.project.aircraft" class="naked_link">
                        Edit Project
                    </a>
                </li>
                <li class="sidebar-submenu">
                    <i class="fa fa-clock-o"></i>&nbsp;
                    <a ui-sref="eco.project.aircraft" class="naked_link">
                        Modify Arrival Date
                    </a>
                </li>
                <li class="sidebar-submenu">
                    <i class="fa fa-folder"></i>&nbsp;
                    <a ui-sref="eco.project.aircraft" class="naked_link">
                        Closed Projects
                    </a>
                </li>
                <li class="sidebar-submenu">
                    <i class="fa fa-bookmark"></i>&nbsp;
                    <a ui-sref="eco.project.aircraft" class="naked_link">
                        GTA Contract
                    </a>
                </li>
                <li class="sidebar-submenu">
                    <i class="fa fa-money"></i>&nbsp;
                    <a ui-sref="eco.project.aircraft" class="naked_link">
                        Bids
                    </a>
                </li>
            </ul>
        </uib-accordion-group>
        <uib-accordion-group>
            <uib-accordion-heading>
                <i class="fa fa-truck"></i>&nbsp;
                BUYER
                <i class="fa fa-lg pull-right" ng-class="{'fa-caret-left': !status.open, 'fa-caret-down': status.open}"></i>
            </uib-accordion-heading>
            <ul class="sidebar-submenu-container">
                <li class="sidebar-submenu">
                    <i class="fa fa-list"></i>&nbsp;
                    <a ui-sref="eco.project.aircraft" class="naked_link">
                        Create Wishlist
                    </a>
                </li>
                <li class="sidebar-submenu">
                    <i class="fa fa-eye"></i>&nbsp;
                    <a ui-sref="eco.project.aircraft" class="naked_link">
                        Watched Auctions
                    </a>
                </li>
                <li class="sidebar-submenu">
                    <i class="fa fa-trophy"></i>&nbsp;
                    <a ui-sref="eco.project.aircraft" class="naked_link">
                        Wins
                    </a>
                </li>
                <li class="sidebar-submenu">
                    <i class="fa fa-calendar"></i>&nbsp;
                    <a ui-sref="eco.project.aircraft" class="naked_link">
                        Shipping Status
                    </a>
                </li>
                <li class="sidebar-submenu">
                    <i class="fa fa-opencart"></i>&nbsp;
                    <a ui-sref="eco.project.aircraft" class="naked_link">
                        ADC Marketplace
                    </a>
                </li>
            </ul>
        </uib-accordion-group>
        <uib-accordion-group>
            <uib-accordion-heading>
                <i class="fa fa-lock"></i>&nbsp;
                ADMIN
                <i class="fa fa-lg pull-right" ng-class="{'fa-caret-left': !status.open, 'fa-caret-down': status.open}"></i>
            </uib-accordion-heading>
            <ul class="sidebar-submenu-container">
                <li class="sidebar-submenu">
                    <i class="fa fa-tasks"></i>&nbsp;
                    <a ui-sref="eco.project.aircraft" class="naked_link">
                        Projects
                    </a>
                </li>
                <li class="sidebar-submenu">
                    <i class="fa fa-users"></i>&nbsp;
                    <a ui-sref="eco.project.aircraft" class="naked_link">
                        Users
                    </a>
                </li>
            </ul>
        </uib-accordion-group>
        <uib-accordion-group>
            <uib-accordion-heading>
                <i class="fa fa-bar-chart"></i>&nbsp;
                SALES
                <i class="fa fa-lg pull-right" ng-class="{'fa-caret-left': !isOpen, 'fa-caret-down': isOpen}"></i>
            </uib-accordion-heading>
            <ul class="sidebar-submenu-container">
                <li class="sidebar-submenu">
                    <i class="fa fa-question"></i>&nbsp;
                    <a ui-sref="eco.project.aircraft" class="naked_link">
                        Dunno
                    </a>
                </li>
            </ul>
        </uib-accordion-group>
        <uib-accordion-group>
            <uib-accordion-heading>
                <i class="fa fa-wrench"></i>&nbsp;
                TECH
                <i class="fa fa-lg pull-right" ng-class="{'fa-caret-left': !status.open, 'fa-caret-down': status.open}"></i>
            </uib-accordion-heading>
            <ul class="sidebar-submenu-container">
                <li class="sidebar-submenu">
                    <i class="fa fa-ticket"></i>&nbsp;
                    <a ui-sref="eco.project.aircraft" class="naked_link">
                        Work Tickets
                    </a>
                </li>
            </ul>
        </uib-accordion-group>
        <uib-accordion-group>
            <uib-accordion-heading>
                <i class="fa fa-bar-chart"></i>&nbsp;
                VENDOR
                <i class="fa fa-lg pull-right" ng-class="{'fa-caret-left': !status.open, 'fa-caret-down': status.open}"></i>
            </uib-accordion-heading>
            <ul class="sidebar-submenu-container">
                <li class="sidebar-submenu">
                    <i class="fa fa-question"></i>&nbsp;
                    <a ui-sref="eco.project.aircraft" class="naked_link">
                        Dunno
                    </a>
                </li>
            </ul>
        </uib-accordion-group>
    </uib-accordion>
</div>
