<style>
    .btn-link:hover, .btn-link:focus {
        text-decoration: none;
    }
</style>
<div class="mainframe">
    <input type="text" class="form-control" style="width: 300px; display: inline;">

    &nbsp;
    <helpdot msg="I am some helpful text that is dynamically loaded."></helpdot>

    <pre>{{dash.path|json}}</pre>

</div>
