<div class="mainframe">
    <form style="width:300px;margin:0 auto;">
        <div class="row">
            <label>Project Type</label>
            <select name="project_type" class="form-control" ng-model="vm.newb.project_type">
                <option value="1">Aircraft</option>
                <option value="2">Auxiliary Power Unit (APU)</option>
                <option value="3">Engine</option>
                <option value="4">Landing Gear</option>
                <option value="5">Thrust Reversers</option>
            </select>
        </div>
        <div class="row">
            <label>Disassembly Location</label>
            <select name="location_id" class="form-control" ng-model="vm.location_id" ng-options="l.id as l.location for l in vm.techlocations">
                <option value="">Please select...</option>
            </select>
        </div>
        <div class="row">
            <label>Asset Arrival Date</label>
            <input type="date" class="form-control" placeholder="Asset Arrival Date">
        </div>
        <div class="row">
            <div class="col-md-12" style="text-align: right; padding-right: 0 !important;">
                <button ng-click="vm.moveToAircraft()" class="btn btn-uam">Continue</button>
            </div>
        </div>
    </form>
</div>