<style>
    .row {
        margin-bottom: 2em !important;
    }
    th {
        font-size: 0.8em;
        color: #3b3b3b;
    }
</style>
<!--<div class="mainframe" style="min-height: 300px; margin-top: -30px !important;">-->
<div style="width: 90%; margin: -30px auto 0 auto;">
    <h1 class="text-center">Create New Project</h1>
    <h2 class="intro-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias atque blanditits consequatur.
    </h2>
    <br>
    <div class="new-project-step-blocks-container" ng-if="vm.pbar_start">
        <a class="aircraft" ng-class="{'active': vm.new_pbar.aircraft, 'inactive': !vm.new_pbar.aircraft}" ng-click="vm.moveToAircraft()">
            <i class="fa fa-plane"></i>AIRCRAFT
        </a>
        <a class="engines" ng-class="{'active': vm.new_pbar.engines, 'inactive': !vm.new_pbar.engines}" ng-click="vm.moveToEngines()">
            <i class="fa fa-rocket"></i>ENGINES
        </a>
        <a class="parts" ng-class="{'active': vm.new_pbar.parts, 'inactive': !vm.new_pbar.parts}" ng-click="vm.moveToParts()">
            <i class="fa fa-clone"></i>PARTS
        </a>
        <a class="summary" ng-class="{'active': vm.new_pbar.summary, 'inactive': !vm.new_pbar.summary}" ng-click="vm.moveToSummary()">
            <i class="fa fa-file"></i>SUMMARY
        </a>
    </div>
    <br>
    <div ui-view></div>
</div>