<div class="footer">
    <p class="copyright clearfix">
        &copy; {{main.current_year}} UAM Holdings, inc.  All Rights Reserved.
    </p>
    <p class="conditions">
        By accessing and using this application you agree to the <a ui-sref="terms">Terms and Conditions</a>.
    </p>
</div>
