<!--<div ng-if="!authenticated">
    <div class="fullframe header">
        <div class="mainframe">
            <img src="./images/adc/logo.png" alt="ADC Logo">
        </div>
    </div>

    <div class="fullframe crumb-trail">
        &nbsp;
    </div>
</div> -->

<div> <!-- ng-if="authenticated"> -->
        <div id="userbar">
                <userbar></userbar>
        </div>
</div>