<div class="spa-wrapper">
    <div ng-include="'./app/_partials/header.tmpl.html'"></div>
    <div class="main_content">
        <div id="sidebar" ng-include="'./_modules/sidebar/sidebar.html'"></div>
        <div id="mainarea">
            <div ui-view></div>
        </div>
    </div>
</div>
<!--<div ng-include="'./app/_partials/footer.tmpl.html'"></div>-->