<div class="text-center frmLogin">
    <h1>Welcome to the Aerospace Disassembly Consortium (ADC)</h1>
    <br><br>
    <div class="well" style="width: 20%; margin: 0 auto;">
        <form>
            <label>Email Address</label>
            <input type="text" class="form-control" placeholder="Email Address" ng-model="auth.email">
            <br>
            <label>Password</label>
            <input type="password" class="form-control" placeholder="Password" ng-model="auth.password">
            <br>
            <div class="login-submit-area">
                <div class="login-remember">
                    <label>
                        <input type="checkbox"> Remember Me
                    </label>
                </div>
                <div class="login-submit">
                    <p>
                        <input type="submit" class="btn btn-uam" value="Log In" ng-click="auth.login()">
                    </p>
                </div>
            </div>
            <br>
            <div>
                <p style="font-size: 0.75em;">
                    <a ui-sref="forgotpw" class="naked_link">Forgot Password</a>
                </p>
            </div>
            <div>
                <p style="font-size: 0.75em;">
                    <a ui-sref="register" class="naked_link">Create an Account</a>
                </p>
            </div>
        </form>
    </div>
    <div style="min-height: 68px;">&nbsp;</div>
</div>