<style>
    .row {
        margin-bottom: 1.5em !important;
    }
</style>
<div class="text-center frmRegister2">
    <h1>Your Company's Registered Users</h1>
    <h2 style="width: 60%; margin: 0 auto;">
        Please list names, titles and email addresses of individuals in your company that should have access to AeroEco. Their passwords will be sent by email.
    </h2>
    <br><br>
    <form>
        <div class="well" style="width: 80%; margin: 0 auto;">
            <table class="table table-striped rowed table-condensed">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Title</th>
                    <th>Email Address</th>
                    <th>&nbsp;</th>
                </tr>
                <tr ng-repeat="users in reg.companyusers">
                    <td class="text-left">{{users.firstname}}</td>
                    <td class="text-left">{{users.lastname}}</td>
                    <td class="text-left">{{users.title}}</td>
                    <td class="text-left">{{users.email}}</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td class="text-left">
                        <input type="text" class="form-control" placeholder="First Name" ng-model="reg.newb.firstname" focus-on="user-added">
                    </td>
                    <td class="text-left">
                        <input type="text" class="form-control" placeholder="Last Name" ng-model="reg.newb.lastname">
                    </td>
                    <td class="text-left">
                        <input type="text" class="form-control" placeholder="Title" ng-model="reg.newb.title">
                    </td>
                    <td class="text-left">
                        <input type="text" class="form-control" placeholder="Email Address" ng-model="reg.newb.email">
                    </td>
                    <td>
                        <button class="btn btn-inverse" ng-click="reg.addUser(vm.newb)">Add</button>
                    </td>
                </tr>
            </table>
            <p class="text-left">
                <input type="submit" class="btn btn-uam" value="Submit"  ng-click="reg.registerUsers()">
            </p>
        </div>
    </form>
    <div style="min-height: 68px;">&nbsp;</div>
</div>