<style>

</style>
<div class="text-center frmRegister">
    <h1>ADC Registration</h1>
    <h2 class="intro-text">
        Please fill in all the information below. An ADC representative will approve and finalize your account activation. Your password will be sent to you by email.
    </h2>
    <br><br>
    <form ng-submit="reg.registerCompany()" ng-if="!reg.newuser.individual">
        <div class="well" style="width: 70%; margin: 0 auto;">
            <div class="row">
                <div class="col-md-6">
                    <label>Company Name ( Leave blank for an individual account )</label>
                    <input type="text" class="form-control" placeholder="Company Name" ng-model="reg.newuser.companyname">
                </div>
                <div class="col-md-6">
                    <label>Email Address</label>
                    <input type="text" class="form-control" placeholder="Email Address" ng-model="reg.newuser.adminemail">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>First Name</label>
                    <input type="text" class="form-control" placeholder="First Name" ng-model="reg.newuser.firstname">
                </div>
                <div class="col-md-6">
                    <label>Last Name</label>
                    <input type="text" class="form-control" placeholder="Last Name" ng-model="reg.newuser.lastname">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>Title</label>
                    <input type="text" class="form-control" placeholder="Title" ng-model="reg.newuser.title">
                </div>
                <div class="col-md-6">
                    <label>Telephone</label>
                    <input type="text" class="form-control" placeholder="Telephone" ng-model="reg.newuser.phone">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>Address</label>
                    <input type="text" class="form-control" placeholder="Address 1" ng-model="reg.newuser.address1">
                </div>
                <div class="col-md-6">
                    <label>Address 2</label>
                    <input type="text" class="form-control" placeholder="Address 2" ng-model="reg.newuser.address2">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>City</label>
                    <input type="text" class="form-control" placeholder="City" ng-model="reg.newuser.city">
                </div>
                <div class="col-md-6">
                    <label>State / Province / Region</label>
                    <input type="text" class="form-control" placeholder="State / Province / Region" ng-model="reg.newuser.state">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>Postal Code</label>
                    <input type="text" class="form-control" placeholder="Postal Code" ng-model="reg.newuser.zip">
                </div>
                <div class="col-md-6">
                    <label>Country</label>
                    <select name="country_id" class="form-control" ng-model="reg.newuser.country_id" ng-options="c.id as c.country for c in reg.countries">
                        <option value="">Please select...</option>
                    </select>
                </div>
            </div>
            <div class="register-submit-area">
                <div class="register-login">
                    <a class="naked_link pull-left" ui-sref="auth">
                        login
                    </a>
                </div>
                <div class="login-submit">
                    <p>
                        <input type="submit" class="btn btn-uam" value="Next">
                    </p>
                </div>
            </div>
        </div>
    </form>
    <div style="min-height: 68px;">&nbsp;</div>
</div>
