<div class="col-sm-6 col-sm-offset-3">
    <div class="well">
        <h3>Users VIEW</h3>
        <button class="btn btn-primary" style="margin-bottom: 10px" ng-click="user.getUsers()">Get Users!</button>
        <button class="btn btn-warning" style="margin-bottom: 10px" ng-click="user.logout()">Logout</button>
        <ul class="list-group" ng-if="user.users">
            <li class="list-group-item" ng-repeat="user in user.users">
                <h4>{{user.firstname}} {{user.lastname}}</h4>
                <p>{{user.email}}</p>
            </li>
        </ul>
        <div class="alert alert-danger" ng-if="user.error.length > 0">
            <strong>There was an error: </strong> {{user.error.error}}
            <br>Please go back and login again
        </div>
    </div>
</div>