<div class="userbar-container">
    <div class="logo-container">
        <a ui-sref="eco.home">
            <img src="./images/adc/inner_logo.png" alt="Logo">
        </a>
    </div>

    <!-- TASK NOTIFICATOR-->
    <div class="btn-group iconTasks" uib-dropdown style="width: 10px;margin: -86px 0 0 200px;">
        <button id="btnIconTasks" type="button" class="btn btn-dark" uib-dropdown-toggle ng-disabled="disabled">
            <i class="fa fa-bell"></i>
            <span class="count" style="margin: -24px 0 0 18px">4</span>
        </button>
        <ul class="uib-dropdown-menu" role="menu" aria-labelledby="btnIconTasks" style="width: 400px;">
            <li role="menuitem">
                <a href="#">
                    <i class="fa fa-tasks"></i>Buy from us!</a>
            </li>
            <li role="menuitem">
                <a href="#">
                    <i class="fa fa-tasks"></i>Disassemble with us!</a>
            </li>
            <li role="menuitem">
                <a href="#">
                    <i class="fa fa-tasks"></i>Sell through us!</a>
            </li>
            <li role="menuitem">
                <a href="#">
                    <i class="fa fa-tasks"></i>Live long and prosper!</a>
            </li>
        </ul>
    </div>

    <!-- MESSAGES NOTIFICATOR-->
    <div class="btn-group iconMessages" uib-dropdown style="width: 10px;margin: -86px 0 0 40px;">
        <button id="btnIconMessages" type="button" class="btn btn-dark" uib-dropdown-toggle ng-disabled="disabled">
            <i class="fa fa-envelope"></i>
            <span class="count" style="margin: -24px 0 0 18px">1</span>
        </button>
        <ul class="uib-dropdown-menu" role="menu" aria-labelledby="btnIconMessages" style="width: 400px;">
            <li role="menuitem">
                <a href="#">
                    <i class="fa fa-envelope-o"></i>Please Respond!</a>
            </li>
        </ul>
    </div>

    <!-- SPECIAL-->
    <div class="btn-group special" style="display: none;">
        <span class="primary">Countdown to Cash:</span>&nbsp;&nbsp;
        <span class="primary">23</span> <span class="secondary">days : </span><span class="primary">19</span> <span class="secondary">hours : <span class="primary">6</span> <span class="secondary"> minutes : <span class="primary">38</span> <span class="secondary"> seconds</span>
    </div>

    <!-- USER BLOCK-->
    <div class="btn-group user__block pull-right" uib-dropdown>
        <button id="btnUserBlock" type="button" class="btn btn-dark" uib-dropdown-toggle ng-disabled="disabled">
            <img gravatar-src="currentUser.email" gravatar-size="100">
            <span style="line-height:2.4;">
                {{currentUser.firstname}} {{currentUser.lastname}}
                &nbsp;<b class="caret"></b>
            </span>
        </button>
        <ul class="uib-dropdown-menu" role="menu" aria-labelledby="btnUserBlock">
            <li role="menuitem">
                <a href="user-profile.html">
                    <i class="fa fa-user"></i>Profile</a>
            </li>
            <li role="menuitem">
                <a href="#">
                    <i class="fa fa-cog"></i>Settings</a>
            </li>
            <li role="menuitem">
                <a href="#">
                    <i class="fa fa-envelope-o"></i>Messages</a>
            </li>
            <li class="divider"></li>
            <li role="menuitem">
                <a href ng-click="main.AppFactory.logout()">
                    <i class="fa fa-power-off"></i>Logout</a>
            </li>
        </ul>
    </div>
</div>
